<?xml version="1.0"?>
<config>
   <sections>
        <payment_services>                			
			<groups>  		
               <clearsale translate="label">
                    <label>Controle de Risco Clearsale</label>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
				  	<show_in_website>1</show_in_website>
				  	<show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Habilitar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>   
                        <ambiente translate="label">
                            <label>Ambiente</label>
                            <frontend_type>select</frontend_type>
                            <source_model>clearsale/ambiente</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ambiente>                     
						<codigo_integracao translate="label">
						    <label>Código de integração</label>
						    <frontend_type>text</frontend_type>
						    <sort_order>20</sort_order>
						    <show_in_default>1</show_in_default>
						    <show_in_website>1</show_in_website>
						    <show_in_store>1</show_in_store>
						</codigo_integracao>	
                    </fields>
                </clearsale>
            </groups>
        </payment_services>       
    </sections>
</config>
